:root {
      --brand-color: #2e2f42;
    }
body {
  background-color:#FFFFFF
  color: #434455;
  font-family: Roboto, sans-serif ;
}
 
a {
  text-decoration: none;
}

button {
  cursor: pointer
}

ul,
ol{
  list-style: none;
}

