:root {
      --brand-color: #2e2f42;
    }
body {
  font-family: Roboto, sans-serif ;
}

.page{
  color: #434455;
  background-color: #FFFFFF;
}


button {
  cursor: pointer
}

ul,
ol{
  list-style: none;
}

/**
  |============================
  | Header
  |============================
*/

.logo{
  font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.link {
  text-decoration: none;
}

.logo-studio{
  color: #2E2F42;
}

.header-item{
  
}

.header-link{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-link {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover {
 color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

/**
  |============================
  | Block 1
  |============================
*/

.hero{
background-color: #2e2f42;
}

.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}

.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-btn:hover {
background-color: #404BBF;
}

.hero-btn:focus {
background-color: #404BBF;
}

/**
  |============================
  | Block 2
  |============================
*/

.peculiarities-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.peculiarities-parph {
line-height: 1.5;
letter-spacing: 0.02em;
}

/**
  |============================
  | Block 3
  |============================
*/

.activity-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/**
  |============================
  | Block 4
  |============================
*/

.team{
  background-color: #F4F4FD;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.team-item {
background-color: #FFFFFF;
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-parph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}

.footer-logo-studio {
color: #f4f4fd;
}

.footer-parph {
  line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #F4F4FD;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
 color: #FFFFFF;
background-color: #404BBF
}

.link {
  text-decoration: none;
}

